<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @track.name %>
</p>

<p>
  <b>Duration:</b>
  <%= @track.duration %>
</p>

<p>
  <b>Music album:</b>
  <%= @track.music_album.name %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', :back %>
