<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @music_album.name %>
</p>

<p>
  <b>Year:</b>
  <%= @music_album.year %>
</p>

<%= render partial: 'show_tracks'%>
<br>


<%= link_to 'New Track', new_music_album_track_path(@music_album.id)%> |

<%= link_to 'Back', music_albums_path %>
